<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wjy329.pagedemo.dao.PersonDao">
    <resultMap id="BaseResultMap" type="com.wjy329.pagedemo.entity.Person">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="findAllByPage" parameterType="com.wjy329.pagedemo.utils.PageBean" resultMap="BaseResultMap">
        SELECT id,name,age
        FROM person
        LIMIT #{page.offset},#{page.pageCount}
    </select>

    <select id="getAllCnt"  resultType="java.lang.Integer">
 	 select count(id) from person
  </select>

</mapper>